= form_tag ''
.form-inline
  = label_tag :card_number, 'Card Number', class: 'text-sm text-normal'
  = text_field_tag :card_number_1, nil, maxlength: 4, id: 'card-no_1'
  = text_field_tag :card_number_2, nil, maxlength: 4, id: 'card-no_2'
  = text_field_tag :card_number_3, nil, maxlength: 4, id: 'card-no_3'
  = text_field_tag :card_number_4, nil, maxlength: 4, id: 'card-no_4'
  = image_tag('payment/mc-cc.png')
.form-inline
  = label_tag :card_name, 'Name on Card', class: 'text-sm text-normal'
  = text_field_tag :card_name, nil, class: 'form-control nm', id: 'card-name'
.form-inline
  = label_tag :expiry, 'Expiry', class: 'text-sm text-normal'
  = select_tag :expiry_month , options_for_select('01'..'12'), class: 'form-control ex', id: 'expry-mon'
  = select_tag :expiry_year , options_for_select(Date.today.year..Date.today.year + 16), |
    class: 'form-control ex', id: 'expry-yr'                             |
  = number_field_tag :cvv, nil, class: 'form-control ex', maxlength: 3, id: 'payment_cvv'
  %span.text-sm
    = link_to 'CVV', '#', class: 'cvv'