= form_tag '/' do
  %h2 Payment details
  %ul
    %li
      %ul.cards
        %li.visa Visa
        %li.visa_electron Visa Electron
        %li.mastercard MasterCard
        %li.maestro Maestro
        %li.discover Discover
    %li
      = label_tag :card_number, 'Card Number'
      = text_field_tag :card_number, nil
    %li.vertical
      %ul
        %li
          = label_tag :expiry_date do
            Expiry Date
            %small mm/yy
          = text_field_tag :expiry_date, nil
        %li
          = label_tag :cvv, 'Card Number'
          = text_field_tag :cvv, nil
    %li.vertical.maestro
      %ul
        %li
          = label_tag :issue_date do
            Issue date
            %small mm/yy
          = text_field_tag :issue_date, nil
        %li
          %span.or or
          = label_tag :issue_number, "Issue Number"
          = text_field_tag :issue_number, nil
    %li
      = label_tag :name_on_card, "Name on card"
      = text_field_tag :name_on_card, nil